/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  font-family: var(--main-font), monospace;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--weight-regular);
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* заголовок */

.header {
  display: grid;
  place-items: end center;
  font-family: var(--accent-font), monospace;
  border: 2px solid var(--main-color);
  background-color: #fff;
}

.header__sizes {
  inline-size: var(--header-inline-size);
  block-size: var(--header-block-size);
  margin-inline: var(--header-margin-inline);
  margin-block: var(--header-margin-block);
}
 
.title {
  font-size: var(--title-font-size);
  font-weight: var(--weight-regular);
  padding-block-end: 20px;
}

.title__text {
  text-transform: uppercase;
  font-size: var(--title-text-size);
  align-self: start;
}

/* основной контент */

.content {
  display: grid;
  gap: 52px;
  justify-self: center;
  max-inline-size: 698px;
}

.card {
  border: 2px solid var(--main-color);
  background-color: #fff;
}

.card__title {
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--weight-bold);
}

.card__block-label {
  position: relative;
}

.card__label {
  position: absolute;
  font-family: 'PressStart2P';
  font-size: 14px;
  top: 25px;
  right: 25px;
  text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
  mix-blend-mode: hard-light;
}

/* проверка поддержки text-stroke */

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.card__image {
  max-block-size: 696px;
  max-inline-size: 696px;
  overflow: hidden;
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__text {
  line-height: 21px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.card__icon-button {
  border: none;
  background-color: transparent;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
}
